<form  [formGroup]= "CreateCustomer"  (ngSubmit)="submit()">
    <div class="container">
      <h1>Register</h1>
      <hr>
  
      <label for="id"><b>id</b></label>
      <input type="text" placeholder="Enter id" name="id" id="id" formControlName="id" required>
  
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name" id="name"formControlName="name" required>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" id="email" formControlName="email"required>

      <label for="medicine"><b>Medicine</b></label>
      <input type="text" placeholder="Enter medicine" name="medicine" id="medicine"formControlName="medicine" required>
      <hr>
  
    
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>
  <router-outlet></router-outlet>